@using OnlineLibrary.BLL.Enums
@model OnlineLibraryASP.ViewModels.BookTypeViewModel

@{
    ViewData["Title"] = "Books";
}

<h1>Książki</h1>

<p>
    <a asp-action="Create">Dodaj książkę</a>
</p>
<form asp-controller="Book" asp-action="Index" method="get">
    <p>
        
        <select asp-for="BookType" asp-items="Model.Types">
            <option value="">Wszystkie</option>
        </select>
        

        Tytuł: <input type="text" name="SearchString" />
        Autor: <input type="text" name="SearchAuthor" />
        <input type="submit" value="Filter" />

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            
            <th>
                <label asp-for="Books.First().Title">Tytuł</label>
            </th>
            <th>
                <label asp-for="Books.First().Author.Name">Autor</label>
            </th>
            
            <th>
                <label asp-for="Books.First().BookType">Kategoria</label>
            </th>
            <th>
                <label asp-for="Books.First().PublicationDate">Data publikacji</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books) {
        <tr>
           
            <td>
                @item.Title
            </td>
            <td>
                @item.Author.Name
            </td>
            
            <td>
                @item.BookType
            </td>
            <td>
                @item.PublicationDate
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
