@using OnlineLibrary.BLL.Models
@model Book

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<h4>Książka</h4>
<hr />
<div class="col-2 pt-4">
    <img src="~/@Model.ImageUrl"
         width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
</div>
<dl class="row">
    <dt class = "col-sm-2" hidden>
        <label asp-for="Id"></label>
    </dt>

    <dd class = "col-sm-10" hidden>
        @Model.Id
    </dd>
        
    <dt class = "col-sm-2">
        <label asp-for="Title">Tytuł</label>
    </dt>
    <dd class = "col-sm-10">
        @Model.Title
    </dd>
    <dt class = "col-sm-2">
        <label asp-for="Author.Name">Autor</label>
    </dt>
    <dd class = "col-sm-10">
        @Model.Author.Name
    </dd>
    <dt class = "col-sm-2">
        <label asp-for="BookType">Kategoria</label>
    </dt>
    <dd class = "col-sm-10">
        @Model.BookType
    </dd>
    <dt class = "col-sm-2">
        <label asp-for="Epoch">Data publikacji</label>
    </dt>
    <dd class = "col-sm-10">
        @Model.Epoch
    </dd>
</dl>
<div>
    <input asp-for="Id" hidden />
    <input asp-for="ImageUrl" hidden />
    <form asp-action="Rent">
        <input type="submit" value="Wypożycz" class="btn btn-danger"/>
        <a asp-action="Index"class="btn btn-outline-dark">Powrót</a>
    </form>
</div>