@using OnlineLibrary.BLL.Enums
@model IEnumerable<OnlineLibrary.BLL.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Okładka
            </th>
            
            <th>
                <label asp-for="First().Title">Tytuł</label>
            </th>
            <th>
                <label asp-for="First().Author.Name">Autor</label>
            </th>
            
            <th>
                <label asp-for="First().BookType">Kategoria</label>
            </th>
            <th>
                <label asp-for="First().Epoch">Data publikacji</label>
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
               <img src="~/@item.ImageUrl"
			width="60" height="90"   />
           </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Author.Name
            </td>
            
            <td>
                @item.BookType
            </td>
            <td>
                @item.Epoch
            </td>
            <td>
                <a  asp-action="ReturnRent" class="btn btn-outline-info" asp-route-id="@item.Id">Oddaj</a>
            </td>
        </tr>
}
    </tbody>
</table>