@model OnlineLibrary.BLL.Models.Book

@{
    ViewData["Title"] = "Roll";
}

<div>
    <h4>Wylosowałeś</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
*@        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do listy</a>
</div>
